[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = false
fs_permissions = [{ access = "read", path = "./mc.toml" }, { access = "read", path = "./lib/mc/mc.toml" }]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
