---
keywords: [contract-verification, smart-contracts, blockchain, foundry, metacontract]
tags: [contract-verification, smart-contracts, blockchain, foundry, metacontract]
last_update:
  date: 2024-10-28
  author: Meta Contract DevOps Team
---

# Contract Verification

This guide outlines the process of verifying Meta Contract contracts.

Meta Contract supports Etherscan's contract verification. To utilize Etherscan's "Read as Proxy" or "Write as Proxy" features, it is necessary to use a Facade contract to register the contract's interface.
